<div style="text-align:center">
  <pre>
    Angular {{angularVersion}} {{title}}
  </pre>
</div>
<form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
  <div >
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="user" required>
          <span *ngIf="chatForm.get('user').touched && chatForm.hasError('required', 'user')">
            Enter a valid username
          </span>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Message" formControlName="message"></textarea>
          <span *ngIf="chatForm.get('message').touched && chatForm.hasError('required', 'message')">
            Enter a valid message
          </span>
      </mat-form-field>
    </div>
    <button mat-raised-button color="accent" type="submit" [disabled]="chatForm.invalid">Send</button>
</form>
